@{
    ViewBag.Title = "Home Page";
}

<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="@Url.Action("Index", "Home")" target="_blank">Dashboard</a>
            @* <span>/</span>*@
            <span>@*Dashboard*@</span>
        </h4>
    </div>

</div>
<!-- Heading -->
<!--Grid row-->
<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-4 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-body">
                <div id="GenderChart" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
            </div>

        </div>
        <!--/.Card-->

    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-8 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-body">
                <div id="lineChart" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
            </div>

        </div>
        <!--/.Card-->

    </div>
    <!--Grid column-->
</div>
<!--Grid row-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        $('#dashboardlink').addClass('active');
        $('#stationlink').removeClass('active');
        $('#crimelink').removeClass('active');
        Chart();
    });
    function Chart() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Chart", "Home")',
            cache: false,
            success: function (result) {
                    var GenderChart = new CanvasJS.Chart("GenderChart", {
                    animationEnabled: true,
                    title: {
                    text: "Gender Crime Ratio"
                    },
                    data: [{
                    type: "pie",
                    startAngle: 240,
                    yValueFormatString: "##0",
                    indexLabel: "{label} {y}",
                    dataPoints: result.gender
                    }]
                    });
                    GenderChart.render();

                    var barchart = new CanvasJS.Chart("lineChart", {
                    animationEnabled: true,

                    title:{
                    text:"Station Report"
                    },
                    axisX:{
                    interval: 10
                    },
                    axisY2:{
                    interlacedColor: "rgba(1,77,101,.2)",
                    gridColor: "rgba(1,77,101,.1)",
                    title: "Number of Cases"
                    },
                    data: [{
                    type: "bar",
                    name: "companies",
                    axisYType: "secondary",
                    color: "#014D65",
                    dataPoints:result.line
                    }]
                    });
                    barchart.render();
            }
        });

    }
    </script>
}
